.files {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}
.download_btn {
    /* width: 100%; */
    margin: 0px !important;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}